html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
    font-size: 90%;
}

a:link { color:#000070; text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color:#551A8B; text-decoration:none; }


h1 {
    font-size: x-large;
    font-weight: bold;
    line-height: 150%;
}

h2 {
    font-size: medium;
    line-height: 180%;
}

#abstract {
    width: 100%;
    text-align:justify;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
    line-height:140%;
}

h2.abstract {
    display: inline;
    line-height: 100%;
}

#meta {
}

.references {
    line-height: 130%;
    text-align:left;
    float:left; 
    width:100%;
} 

.references ul {
    margin: 0;
}
.references ol {
    margin: 0;
}
.references ul li {
    margin-top: 5;
}

.grid {
    margin:0px;
    padding:0px;
    overflow:hidden
}
div.grid {
    position:absolute
}
div#header {
    padding: 8px;
    border-style: none none dotted none;
    border-width: 1px;
    background-color: #EEEEEE;
    height: 44px;
    top:0px;left:0px;right:0px;
}
div#body {
    top:60px;
    left:0px;
    right:0px;
    bottom:0px;
}
div#left {
    top:0px;
    bottom:0px;
    left:0px;
    width:50%;
    overflow-y:auto
}
div#right {
    top:0px;
    bottom:0px;
    right:0px;
    width:50%;
    overflow-y:auto
}
div#leftwrap {
    padding: 20px;
}

#preview {
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
}
